<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-mocks-heading">Create or edit a Mocks</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="form-control-label" for="field_method">Method</label>
                            <input type="text" class="form-control" name="method" id="field_method"
                                [(ngModel)]="mocks.method" />
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="field_response_status">Response Status</label>
                            <input type="text" class="form-control" name="response_status" id="field_response_status"
                                   [(ngModel)]="mocks.response_status" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_request_url">Request Url</label>
                    <input type="text" class="form-control" name="request_url" id="field_request_url"
                           [(ngModel)]="mocks.request_url" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_request_headers">Request Headers</label>
                    <input type="text" class="form-control" name="request_headers" id="field_request_headers"
                        [(ngModel)]="mocks.request_headers" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_request_body">Request Body</label>
                    <textarea type="text" class="form-control" name="request_body" id="field_request_body"
                        [(ngModel)]="mocks.request_body"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_response_headers">Response Headers</label>
                    <input type="text" class="form-control" name="response_headers" id="field_response_headers"
                        [(ngModel)]="mocks.response_headers" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_response_body">Response Body</label>
                    <textarea type="text" class="form-control" name="response_body" id="field_response_body"
                        [(ngModel)]="mocks.response_body"></textarea>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
